.form {
    margin-top: 20px;
    &__content {
        &_input {
            margin-top: 10px;
            width: 100%;
            border: 1px solid #DFE3E6;
            border-radius: 3px;
            padding: 6px;
        }
        &_button{
            margin-top: 10px;
            cursor: pointer;
            background: none;
            border: none;
            color: #EA0029;
            font-weight: 500;
            &:hover {
                color: #F53A31;
            }
            &:active {
                color: #EA0029;
            }
        }
    }
}

.tag{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.tagTitle{
    font-weight: 500;
}

.tagBtns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.result {
    margin-top: 30px;

    &__title {
        font-weight: 500;
    }
    &__btns {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
    }
    &__text {
        margin-top: 10px;
        font-size: 24px;
    }
}

.btn {
    border-radius: 50px;
    padding: 10px 15px;
    background: #EEF0F2;
    &:hover {
        background-color: #DFE3E6;
        cursor: pointer;
    }
}
.active {
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 400%);
    color: #FFFFFF;
}