* {
  margin: 0;
  padding: 0;
}


.App {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContainer{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  margin: auto;
  color: #FFFFFF;
  padding: 16px 32px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #FFFFFF;
  color: #000000;
}

.btnModal{
  margin-top: 30px;
  width: 100%;
  border-radius: 6px;
  background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 400%);
  font-size: 16px;
  color: #FFFFFF;
  border: none;
  padding: 16px 32px;
}
.btnModal:hover {
  cursor: pointer;
  background-color: #EA0029;
}